// Primary colors

$darkBlueIntro: hsl(217, 28%, 15%); // (intro and email sign up background)
$darkBlueMainBackground: hsl(218, 28%, 13%);  // (main background)
$darkBlueFooterBackground: hsl(216, 53%, 9%); // (footer background)
$darkBlueTestimonials: hsl(219, 30%, 18%);  // (testimonials background)

// Accent colors

$cyan: hsl(176, 68%, 64%); // (inside call-to-action gradient)
$blue: hsl(198, 60%, 50%); // (inside call-to-action gradient)
$lightRed: hsl(0, 100%, 63%); // error

// Neutral colors

$white: hsl(0, 0%, 100%);
$black: hsl(0,0%,0%);

// Font families

$openSans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;